@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body.active {
  position: relative;
}
body.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 8;
}

.container {
  width: 80%;
  max-width: 97%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container .row.jbtn {
  justify-content: space-between;
}
.container .row.align {
  align-items: center;
}
.container .row .flex100 {
  width: 100%;
  flex: 0 0 100%;
  padding: 2rem;
}
.container .row .flex90 {
  flex: 0 0 90%;
}
.container .row .flex80 {
  flex: 0 0 80%;
  padding: 2rem;
}
.container .row .flex78 {
  flex: 0 0 78%;
}
.container .row .flex70 {
  flex: 0 0 70%;
}
.container .row .flex66 {
  flex: 0 0 66%;
}
.container .row .flex60 {
  flex: 0 0 60%;
}
.container .row .flex33 {
  flex: 0 0 33.33%;
  padding: 0.8rem;
}
@media screen and (max-width: 800px) {
  .container .row .flex33 {
    flex: 0 0 100%;
    width: 100%;
  }
}
.container .row .flex30 {
  flex: 0 0 30%;
}
.container .row .flex10 {
  flex: 0 0 10%;
}
.container .row .flex15 {
  flex: 0 0 15%;
}
.container .row .flex25 {
  flex: 0 0 25%;
  width: 25%;
}
@media screen and (max-width: 800px) {
  .container .row .flex25 {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media screen and (max-width: 557px) {
  .container .row .flex25 {
    flex: 0 0 100%;
    width: 100%;
  }
}
.container .row .flex55 {
  flex: 0 0 55%;
  width: 55%;
}
.container .row .flex45 {
  flex: 0 0 45%;
}
.container .row .flex40 {
  flex: 0 0 40%;
}
.container .row .flex20 {
  flex: 0 0 20%;
  width: 20%;
}
.container .row .flex75 {
  flex: 0 0 75%;
}
.container .row .flex50 {
  flex: 0 0 50%;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .container .row .flex50 {
    flex: 0 0 100%;
    width: 100%;
    padding: 0rem;
  }
}
.container .row .flex5 {
  flex: 0 0 5%;
}

.btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background: #3F51B5;
  color: #fff;
  transition: 0.4s ease;
  margin: 1rem 0 0;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}
.btn::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  left: 0;
  transition: 0.4s ease;
  background: #00040f;
  content: "";
  z-index: -1;
}
.btn:hover {
  letter-spacing: 1.4px;
}
.btn:hover::before {
  height: 100%;
}

img {
  max-width: 100%;
}

section {
  padding: 5.5rem 0;
}
section .section-style {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
}
section .section-title {
  padding: 0 2rem;
  margin: 0rem 0 2em;
}
section .section-title h2 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: #003d63;
}
section .section-title p {
  color: #777;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  section {
    padding: 2rem 0;
  }
}

header {
  background: #003d63;
  height: 70px;
  line-height: 70px;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  left: 0;
  width: 100%;
  z-index: 999;
}
header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s ease;
  -webkit-animation: fitIn 0.45s linear;
          animation: fitIn 0.45s linear;
}
@-webkit-keyframes fitIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fitIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
header .logo a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
header .logo a span {
  font-size: 4rem;
  font-family: "Great Vibes", "Poppins";
}
header .closeNav,
header .hamburger {
  display: none;
}
header .nav_menu li {
  display: block;
}
header .nav_menu li:not(:last-child) {
  margin-right: 1.2rem;
}
header .nav_menu li a {
  font-size: 1.1rem;
  transition: 0.4s ease;
  display: block;
  position: relative;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
}
header .nav_menu li a.active {
  color: #b8b8b8;
}
header .nav_menu li a:hover {
  color: #b8b8b8;
}
@media screen and (max-width: 800px) {
  header .nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    background: #003d63;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.4s ease;
  }
  header .nav_menu.nav_active {
    transform: translateX(0);
  }
}
@media screen and (max-width: 557px) {
  header .nav_menu {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  header .closeNav,
header .hamburger {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }
  header .closeNav {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 55, 0.25), rgba(0, 0, 55, 0.25)), url("../assets/church-hero-banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right !important;
}
.hero .row {
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .hero .row .hero-content {
    flex: 0 0 100% !important;
  }
}
.hero .row .hero-content h2 {
  font-size: 3.7rem;
  color: #fff;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .hero .row .hero-content h2 {
    font-size: 40px;
  }
}
.hero .row .hero-content p {
  text-transform: uppercase;
  font-size: 1.7rem;
  width: 88%;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.82);
  background: #003d63;
  padding: 0.5rem 1.2rem;
  border-radius: 0.33rem;
}
@media screen and (max-width: 768px) {
  .hero .row .hero-content p {
    font-size: 20px;
    width: 100%;
  }
}

.about .about-text h2 {
  font-size: 2.2rem;
}
.about .about-text p {
  margin: 1rem 0;
}
.about .about-image {
  height: 33rem;
}
.about .about-image img {
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .about .about-image {
    height: 25rem;
    order: 1;
    margin-bottom: 2rem;
  }
  .about .about-image img {
    height: 100%;
  }
  .about .about-text {
    order: 2;
  }
  .about .about-text h2 {
    font-size: 1.5rem;
  }
  .about .about-text p {
    color: #777;
    font-weight: 300;
  }
}

.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25)), url("../assets/G.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right !important;
}
.about-section .row {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .about-section .row {
    height: 100%;
  }
}
.about-section .row .about-title h1 {
  color: #003d63;
  font-size: 4.4rem;
}
@media screen and (max-width: 768px) {
  .about-section .row .about-title h1 {
    font-size: 2.4rem;
    margin: 4rem 0 2rem;
    color: #fff;
  }
}
.about-section .row .about-text h3 {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.about-section .row .about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
}
@media screen and (max-width: 768px) {
  .about-section .row .about-text p {
    line-height: 1.5;
    font-size: 1rem;
  }
}

.articles-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25)), url("../assets/7.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right !important;
}
.articles-section .row {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .articles-section .row {
    height: 100%;
  }
}

footer {
  padding: 30px 2rem 80px;
  background: #003d63;
  display: flex;
  flex-direction: column;
  position: relative;
  osition: absolute;
}
footer .container {
  position: relative;
}
footer .footer-item {
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  flex-wrap: wrap;
}
footer .footer-item h2 {
  font-size: 28px;
  color: #fff;
}
footer .footer-item:nth-child(1) h2 {
  text-align: left !important;
}
footer .footer-item p {
  font-size: 1.2rem;
  color: #b8b8b8;
  margin-top: 1rem;
}
footer .footer-item:nth-child(1) {
  flex: 0 0 30%;
  width: 30%;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  footer .footer-item:nth-child(1) {
    flex: 0 0 100%;
    width: 100%;
  }
}
footer .footer-item:nth-child(2) {
  flex: 0 0 70%;
  width: 70%;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  footer .footer-item:nth-child(2) {
    flex: 0 0 100%;
    width: 100%;
  }
}
footer .footer-item .social_lines {
  margin-top: 1em;
}
footer .footer-item .social_lines a {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  margin-right: 15px;
}
footer .footer-item .social_lines a i {
  color: #fff;
}
footer .contact {
  flex: 0 0 33.33%;
  width: 33.33%;
  padding: 15px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  footer .contact {
    flex: 0 0 100%;
    width: 100%;
  }
}
footer .contact i {
  padding-right: 1rem;
  font-size: 2rem;
  color: #fff;
}
footer .contact .contact-details p,
footer .contact .contact-details h4 {
  font-size: 15px;
  display: inline-block;
  color: #b8b8b8;
  font-weight: 300;
}
footer .contact .contact-details p {
  font-size: 15px;
  font-weight: 400;
  color: var(--green);
  text-transform: uppercase;
}
footer .contact .contact-details a {
  text-transform: capitalize;
  color: #fff;
}
footer .row-footer {
  margin-top: 7rem;
  position: relative;
}
footer .row-footer::before, footer .row-footer::after {
  position: absolute;
  top: -20%;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  content: "";
  left: 0;
}
footer .row-footer::before {
  bottom: -20px;
}
footer .footer-item2:nth-child(1) p {
  line-height: 30px;
  width: 90%;
}
footer .footer-item2 h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.4rem;
  position: relative;
  font-size: 18px;
}
footer .footer-item2 a {
  display: block;
  color: #b8b8b8;
  font-weight: 500;
  position: relative;
  margin-bottom: 1rem;
}
footer .footer-item2 a::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  transform: scale(0);
  width: 0;
  height: 3px;
  transition: all 0.5s ease;
  background: #3F51B5;
}
footer .footer-item2 a::before:hover::before {
  width: 50%;
  transform: scale(1);
}
footer .footer-item2 b {
  color: #222;
  font-weight: 600;
  font-size: 17px;
  padding-right: 0.8rem;
}
footer .footer-item2 .footer-text {
  display: flex;
}
footer l .footer-item2 p {
  /* padding-left: 1rem; */
  display: inline-block;
  margin-bottom: 1rem;
}
footer .copy {
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  color: #b8b8b8;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  footer .copy {
    left: 35%;
  }
}

/* Company Timeline */
.timeline .row {
  min-height: 100vh;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .timeline .row {
    min-height: 100%;
  }
}
.timeline .up-image {
  height: 41rem;
  border-radius: 0.8rem;
}
@media screen and (max-width: 768px) {
  .timeline .up-image {
    height: 25rem;
    margin-bottom: 2rem;
  }
  .timeline .up-image img {
    height: 100%;
  }
}
.timeline .up-image img {
  border-radius: 0.8rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.timeline .timeline-container .timeline-item {
  padding: 1em 2em 1em;
  position: relative;
  border-left: 2px solid #003d63;
}
.timeline .timeline-container .timeline-item h2 {
  font-size: 1.2rem;
  color: #003d63;
  margin: 0.8rem 0 0.4rem;
}
.timeline .timeline-container .timeline-item .timeline-item-primary {
  font-size: 1.1rem;
  color: #777;
  line-height: 26px;
  font-weight: 300;
}
.timeline .timeline-container .timeline-item::before {
  content: attr(date-is);
  peft: 1em;
  font-weight: bold;
  top: 0.1em;
  display: block;
  font-size: 1.5rem;
  color: #3F51B5;
}
.timeline .timeline-container .timeline-item::after {
  width: 15px;
  height: 15px;
  display: block;
  top: 1em;
  position: absolute;
  left: -9px;
  border-radius: 10px;
  content: "";
  border: 1px dotted #003d63;
  background: #003d63;
}

.mission {
  background: #f1f1f1;
}
.mission .mission-inner {
  background-color: #fff;
  padding: 1.5em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.mission .mission-inner:hover {
  cursor: pointer;
}
.mission .mission-inner:hover h2 {
  transform: translateY(-15px);
}
.mission .mission-inner:hover h2::before {
  width: 100%;
}
.mission .mission-inner h2 {
  transition: 0.4s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #003d63;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}
.mission .mission-inner h2::before {
  position: absolute;
  top: 100%;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #3F51B5;
  transition: 0.4s ease;
}
.mission .mission-inner h2::before:hover::before {
  width: 100%;
}
.mission .mission-inner p {
  font-weight: 400;
  color: #777;
}

.history p {
  font-weight: 300;
  line-height: 28px;
}

.home-section {
  min-height: 100vh;
  position: relative;
}

.home-section .slide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
  background-attachment: fixed !important;
}

.home-section .slide.active {
  opacity: 1;
  visibility: visible;
  transition: all 1s ease-in-out;
  background-attachment: fixed !important;
}

.home-section .slide:before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-section .row {
  min-height: 100vh;
  align-items: center;
}

.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}

.home-section .slide.active .home-content p {
  opacity: 0;
  -webkit-animation: fadeInTop 1s ease forwards;
          animation: fadeInTop 1s ease forwards;
}

@-webkit-keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home-section .home-content p {
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 15px;
}

.home-section .home-content .love {
  font-size: 60px;
}

.home-section .slide.active .home-content h1 {
  opacity: 0;
  -webkit-animation: fadeInTop 1s ease forwards;
          animation: fadeInTop 1s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.home-section .home-content h1 {
  font-size: 80px;
  font-family: "Great Vibes";
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .home-section .home-content h1 {
    font-size: 40px;
  }
}

.home-section .home-content h1:first-letter {
  font-weight: 1000;
}

.home-section .slide.active .home-content span {
  opacity: 0;
  -webkit-animation: fadeInTop 1s ease forwards;
          animation: fadeInTop 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home-section .home-content span {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 7px 30px;
  margin: 15px 0 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.4s ease;
}
.home-section .home-content span:hover {
  background: #003d63;
  border: 1px solid transparent;
}

.home-section .home-content span:before {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  border-radius: 30px;
  height: 100%;
  content: "";
  z-index: 1;
  background: transparent;
  transition: all 0.5s ease;
}

.home-section .home-content span:hover:before {
  width: 100%;
  z-index: -1;
}

.team {
  background: #f1f1f1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.team .row {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
}
@media screen and (max-width: 457px) {
  .team .row {
    padding: 1rem 0.8rem;
  }
}

.col {
  position: relative;
  flex-basis: 25%;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

.col:nth-child(even),
.col:nth-child(2n+1) {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col span {
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid #003d63;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(50%);
}
@media screen and (max-width: 457px) {
  .col span {
    display: none;
  }
}

.col span.arrow {
  right: initial;
  left: 0;
  border-left: 15px solid #003d63;
  border-right: 15px solid transparent;
}
@media screen and (max-width: 457px) {
  .col span.arrow {
    display: none !important;
  }
}

.col img {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  height: 280px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease;
}

.col img:hover {
  transform: scale(1.3);
}

.col:hover img {
  transform: scale(1.3);
  transform: rotate(0deg);
}

.col p {
  margin: 20px 0;
  font-size: 18px;
}

.social-links .fab {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #003d63;
  margin: 0 7px;
  display: inline-block;
  cursor: pointer;
  color: #3F51B5;
  transition: transform 0.5s ease-in-out;
}

.social-links .fab:hover {
  background: #003d63;
  color: #fff;
  transform: translateY(-8px);
}

@media screen and (max-width: 770px) {
  .row {
    width: 95%;
  }
  .col {
    flex-basis: 50%;
    font-size: 14px;
  }
  .social-links .fab {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .row .col:nth-child(1) {
    order: 1;
  }
  .row .col:nth-child(2) {
    order: 2;
  }
  .row .col:nth-child(3) {
    order: 5;
  }
  .row .col:nth-child(4) {
    order: 6;
  }
  .row .col:nth-child(5) {
    order: 3;
  }
  .row .col:nth-child(6) {
    order: 4;
  }
  .row .col:nth-child(7) {
    order: 7;
  }
  .row .col:nth-child(8) {
    order: 8;
  }
}
@media screen and (max-width: 437px) {
  .col {
    flex-basis: 100% !important;
  }
  .col:nth-child(even), .col:nth-child(2n+1) {
    margin: 2rem 0;
  }
  .col:nth-child(2) {
    order: 2 !important;
  }
  .col:nth-child(5) {
    order: 4 !important;
  }
  .col:nth-child(6) {
    order: 3 !important;
  }
  .col:nth-child(8) {
    flex-basis: 100%;
    order: 7 !important;
    margin-bottom: 1rem;
  }
  .col:nth-child(7) {
    flex-basis: 100%;
    order: 8 !important;
  }
}
.galleryGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 600px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .galleryGrid .gallery-image:nth-child(7) {
    grid-column: span 2;
  }
}

.gallery-image {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 21rem;
  position: relative;
}

.gallery-image:nth-child(1) {
  grid-row: span 2;
  width: 100%;
  height: 43rem;
}

.gallery-image:nth-child(4) {
  grid-column: span 2;
}

.gallery-image:nth-child(8) {
  grid-column: span 2;
}

.gallery-image:nth-child(9) {
  grid-row: span 3;
  height: 43rem;
}

.gallery-image > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px;
  transition: 0.4s ease;
}

.gallery-image::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 0%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
}

.gallery-image:hover::before {
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-animation: fly 0.5s ease-in-out;
          animation: fly 0.5s ease-in-out;
}

@-webkit-keyframes fly {
  from {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes fly {
  from {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  to {
    height: 100%;
  }
}
.gallery-image:hover img {
  transform: scale(1.1);
}

.gallery-image .imageDetails {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(19, 15, 64, 0.5);
  width: 100%;
  transform: scale(1.1);
  height: 100%;
  opacity: 0;
  z-index: 4;
  transition-delay: 0.5s;
  transition: var(--transition);
}

.gallery-image:hover .imageDetails {
  transform: scale(1);
  opacity: 1;
}

.imageDetails p {
  color: #fff;
  position: absolute;
  top: 15px;
  left: -175px;
  transition: 0.5s ease;
}

.imageDetails a {
  display: block;
  color: #fff;
  position: absolute;
  z-index: 4;
  bottom: 20px;
  right: -25px;
  transition: 0.5s ease;
}

.gallery-image:hover .imageDetails a {
  right: 15px;
}

.gallery-image:hover .imageDetails p {
  left: 15px;
}

img.mfp-img {
  width: 550px !important;
  max-width: 100%;
  height: 600px !important;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

.blog {
  background: #f7f7f7;
}
.blog .blog-item .blog-inner {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.blog .blog-item .blog-inner .blog-image {
  height: 18rem;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.blog .blog-item .blog-inner .blog-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: super;
  transition: 0.4s ease;
}
.blog .blog-item .blog-inner .blog-image img:hover {
  transform: scale(1.1);
}
.blog .blog-item .blog-inner .desc {
  padding: 2em;
}
.blog .blog-item .blog-inner .desc h2 {
  color: #003d63;
  font-weight: 400;
  margin-bottom: 0.8rem;
  font-size: 1.4em;
}
@media screen and (max-width: 457px) {
  .blog .blog-item .blog-inner .desc h2 {
    text-transform: uppercase;
    font-size: 1rem;
  }
}
.blog .blog-item .blog-inner .desc p {
  font-size: 1em;
  color: #777;
}
.blog .blog-item .blog-inner .desc .btn {
  display: block;
  background: #003d63;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  position: relative;
  transition: 0.4s ease;
}
.blog .blog-item .blog-inner .desc .btn:hover {
  letter-spacing: 1.4px;
}
.blog .blog-item .blog-inner .desc .icons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.blog .blog-item .blog-inner .desc .icons a {
  display: inline-block;
  color: #777;
}
.blog .blog-item .blog-inner .desc .icons a:not(:last-child) {
  margin-bottom: 0.4rem;
}
.blog .blog-item .blog-inner .desc .icons a i {
  font-size: 1.4rem;
  margin-right: 0.4rem;
  color: #003d63;
}
@media screen and (max-width: 457px) {
  .blog .blog-item .blog-inner .desc .icons a i {
    font-size: 1rem;
  }
}
.blog .blog-item .blogDetails {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 999;
  /* background-color: #fff; */
  top: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-item .blogDetails .blogDetailsInner {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 4rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
  transition: 0.3s ease;
  opacity: 0;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .blog .blog-item .blogDetails .blogDetailsInner {
    padding: 1rem 1rem;
  }
}
.blog .blog-item .blogDetails .blogDetailsInner .closeBlog {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  font-size: 2rem;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  border: 1px solid #003d63;
}
.blog .blog-item .blogDetails .blogDetailsInner .closeBlog:hover {
  background: #003d63;
  color: #fff;
}
.blog .blog-item .blogDetails .blogDetailsInner h2 {
  color: #003d63;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.blog .blog-item .blogDetails .blogDetailsInner p {
  font-weight: 300;
  line-height: 27px;
  color: #777;
  font-size: 1rem;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .blog .blog-item .blogDetails .blogDetailsInner p {
    font-size: 0.9rem;
  }
}
.blog .blog-item .blogDetails.active {
  opacity: 1;
  visibility: visible;
}
.blog .blog-item .blogDetails.active .blogDetailsInner {
  opacity: 1;
}

::-moz-selection {
  background: #003d63;
  color: #fff;
}

::selection {
  background: #003d63;
  color: #fff;
}

.contact-section .container {
  max-width: 380px;
  width: 100%;
  background: #fff;
  /* padding: 20px 25px; */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .contact-section .container {
    width: 320px;
  }
}

.contact-section .container.active .forms {
  height: 520px;
}

.text {
  color: #333;
}

.contact-section .container.active .login-form {
  margin-left: -50%;
}

.contact-section .container .forms {
  /* background-color: #f00; */
  width: 200%;
  height: 400px;
  display: flex;
  transition: 0.5s ease;
  align-items: center;
}

.contact-section .container .form {
  /* overflow: hidden; */
  padding: 30px;
  width: 50%;
  transition: 0.5s ease;
  background-color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  color: #003d63;
  /* text-transform: uppercase; */
  margin: 0 0 25px;
  font-family: "Satisfy", sans-serif;
}

.input-group {
  width: 100%;
  flex: 0 0 100%;
  position: relative;
  margin: 0 0 25px;
}

.input-group button,
.input-group input {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 38px;
  padding: 0 40px;
  font-size: 16px;
  transition: 0.5s ease;
}

.input-group input:is(:focus,
:valid) {
  /* border-color: #5256AD; */
  border-bottom: 1.5px solid #003d63;
}

.input-group input:is(:focus,
:valid) ~ #eye {
  display: block;
}

.input-group i {
  position: absolute;
  top: 50%;
  transition: 0.5s ease;
  transform: translateY(-50%);
  left: 10px;
  transition: 0.5s ease;
  color: #777;
}

#eye {
  right: 10px;
  color: #777;
  position: absolute;
  top: 50%;
  transition: 0.5s ease;
  transform: translateY(-50%);
  display: none;
}

::-moz-placeholder {
  font-size: 18px;
}

:-ms-input-placeholder {
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
}

button.btn {
  outline: none;
  border: none;
  background: #003d63;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
button.btn:hover::before {
  border-radius: 30px;
}

.remember,
.loginr {
  /* background-color: #f00 !important; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 1rem;
}

.remember.signupr {
  justify-content: flex-start;
}

.signupr .text {
  color: #fff;
  padding-left: 0.26rem;
}

.login-signup {
  /* background-color: #f00; */
  text-align: center;
}

.checkBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBox label {
  margin-left: 0.25rem;
  font-size: 15px;
  color: #333;
  margin: 0 auto;
}

.checkBox input {
  accent-color: #5256AD;
}

.remember a {
  /* background-color: #f00; */
  /* margin-left: 1rem; */
  font-size: 16px;
}

.link {
  color: #5256AD;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .link {
    display: block !important;
    width: 100%;
    margin: 0;
  }
}

.contact-section {
  padding: 10rem 0 7rem;
  background: url("../assets/bgIMG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}/*# sourceMappingURL=style.css.map */